
{% extends 'layout.html' %}

{% block content %}



<div class="card" >
      <img src="{{posts.img.url}}"   class="card-img-top" alt="...">

  <div class="card-body">
    <h5 class="card-title">{{posts.name}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">  Huawei Watch GT 2 Montre Connectée (GPS, boîtier 46 mm) avec Bracelet Sport Noir </h6>


    <p class="card-text"> Prix conseillé :	229,99 € De quoi s’agit-il?
Prix de l'offre :	199,00 € Livraison GRATUITE en France métropolitaine. Détails
Économisez :	30,99 € (13 %)
Tous les prix incluent la TVA.
Payez: 50,87 € x 4 (dont 2.25% de frais inclus) 0% de frais en rejoignant Amazon Prime   Voir détails et conditions
Assistance produit Amazon gratuite incluse
Livraison GRATUITE (0,01€ pour les livres) en point retrait. Détails
Taille: 46mm</p>
    <a href="/posts" class="card-link">Posts</a>
  </div>
</div>


         <br>

<br>  <br>
 <br>
 <br>
 <br>


{% endblock  %}